services:
  server:
    image: 11notes/kms:1.0.3
    restart: unless-stopped
    environment:
      TZ: "Europe/Zurich"
    ports:
      - "1688:1688"
    volumes:
      - var:/kms/var

  gui:
    image: 11notes/kms-gui:1.0.3
    restart: unless-stopped
    depends_on:
      server:
        condition: "service_healthy"
        restart: true
    networks:
      - traefik_proxy
    volumes:
      - var:/kms/var
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.kms.rule=Host(`kms.${DOCKER_DOMAIN}`)"
      - "traefik.http.routers.kms.entrypoints=https"
      - "traefik.http.routers.kms.tls=true"
      - "traefik.http.routers.kms.middlewares=authelia@docker,secured@file"
      - "traefik.http.services.kms.loadbalancer.server.port=3000"

networks:
  traefik_proxy:
    external: true

volumes:
  var:
